# This file creates a mongo database and two collections. The collections are from the data files used for analysis

In [1]:
# Import dependencies
import pymongo
from pymongo import MongoClient
import pandas as pd
import json

In [2]:
# Create client for mongodb
client = MongoClient("mongodb+srv://bootcamp_capstone:heart123@bootcamp.kzqan.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [4]:
# Import CSV
df_1 = pd.read_csv("heart_1.csv")
df_2 = pd.read_csv("heart_2.csv")

In [5]:
df_1.head()

       id  Age Sex  RestingBP  Cholesterol  FastingBS RestingECG  MaxHR
0  304065   40   M        140          289          0     Normal    172
1  379490   49   F        160          180          0     Normal    156
2  872600   37   M        130          283          0         ST     98
3  622237   48   F        138          214          0     Normal    108
4  574906   54   M        150          195          0     Normal    122

In [7]:
df_2.head()

       id ChestPainType ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0  304065           ATA              N      0.0       Up             0
1  379490           NAP              N      1.0     Flat             1
2  872600           ATA              N      0.0       Up             0
3  622237           ASY              Y      1.5     Flat             1
4  574906           NAP              N      0.0       Up             0

In [8]:
# Convert csv to dictionary so it can be passed in to Mongo
data_1 = df_1.to_dict(orient = "records")
data_2 = df_2.to_dict(orient = "records")

In [15]:
# Check dictionary
#data_1

In [10]:
# Create database in Mongo
db = client["heart_db"]

In [11]:
db

Database(MongoClient(host=['bootcamp-shard-00-00.kzqan.mongodb.net:27017', 'bootcamp-shard-00-02.kzqan.mongodb.net:27017', 'bootcamp-shard-00-01.kzqan.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hmhdc2-shard-0', ssl=True), 'heart_db')

In [12]:
# Insert datasets into Mongo Collection
db.heart_1.insert_many(data_1)
db.heart_2.insert_many(data_2)

## Join the data

In [13]:
joined_data = db['heart_1'].aggregate([
    {
        '$lookup': {
            'from': 'heart_2', 
            'localField': 'id', 
            'foreignField': 'id', 
            'as': 'joined'
        }
    }
])

In [14]:
db.heart_joined.insert_many(joined_data)