# This file ingests the joined collection from MongoDB, parses out the joined column, formats the data, and exports a csv for use in the machine learning model

In [18]:
import pymongo
import pandas as pd
from pymongo import MongoClient
import json

In [2]:
client = MongoClient("mongodb+srv://bootcamp_capstone:heart123@bootcamp.kzqan.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [3]:
db = client["heart_db"]

In [4]:
print(db)

Database(MongoClient(host=['bootcamp-shard-00-00.kzqan.mongodb.net:27017', 'bootcamp-shard-00-02.kzqan.mongodb.net:27017', 'bootcamp-shard-00-01.kzqan.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hmhdc2-shard-0', ssl=True), 'heart_db')

In [5]:
collection = db["heart_joined"]

In [6]:
print(collection)

Collection(Database(MongoClient(host=['bootcamp-shard-00-00.kzqan.mongodb.net:27017', 'bootcamp-shard-00-02.kzqan.mongodb.net:27017', 'bootcamp-shard-00-01.kzqan.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hmhdc2-shard-0', ssl=True), 'heart_db'), 'heart_joined')

In [7]:
one_record = collection.find_one()

In [8]:
print(one_record)

{'_id': ObjectId('61d5e810ea0674701654db47'), 'id': 304065, 'Age': 40, 'Sex': 'M', 'RestingBP': 140, 'Cholesterol': 289, 'FastingBS': 0, 'RestingECG': 'Normal', 'MaxHR': 172, 'joined': [{'_id': ObjectId('61d5e811ea0674701654dedd'), 'id': 304065, 'ChestPainType': 'ATA', 'ExerciseAngina': 'N', 'Oldpeak': 0.0, 'ST_Slope': 'Up', 'HeartDisease': 0}]}

In [9]:
all_records = collection.find()

In [10]:
print(all_records)

<pymongo.cursor.Cursor object at 0x00000233DECDCD08>

In [51]:
#for row in all_records:
    #print(row)

In [12]:
# Re-run to create cursor
all_records = collection.find()

In [13]:
# Make cursor a list
list_cursor = list(all_records)

In [50]:
#print(list_cursor)

In [15]:
#Create final dataframe
df = pd.DataFrame(list_cursor)

In [16]:
df.head()

,_id,id,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,joined
0,61d5e810ea0674701654db47,304065,40,M,140,289,0,Normal,172,"[{'_id': 61d5e811ea0674701654dedd, 'id': 30406..."
1,61d5e810ea0674701654db48,379490,49,F,160,180,0,Normal,156,"[{'_id': 61d5e811ea0674701654dede, 'id': 37949..."
2,61d5e810ea0674701654db49,872600,37,M,130,283,0,ST,98,"[{'_id': 61d5e811ea0674701654dedf, 'id': 87260..."
3,61d5e810ea0674701654db4a,622237,48,F,138,214,0,Normal,108,"[{'_id': 61d5e811ea0674701654dee0, 'id': 62223..."
4,61d5e810ea0674701654db4b,574906,54,M,150,195,0,Normal,122,"[{'_id': 61d5e811ea0674701654dee1, 'id': 57490..."

In [40]:
#Drop _id column
clean_df = df.drop(['_id', 'joined'], axis=1)

In [41]:
#Breakout joined column
s = df['joined'].explode()

In [49]:
#s

In [43]:
new_df = pd.DataFrame(list(s))

In [44]:
new_df.drop(['_id'], axis=1)

         id ChestPainType ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0    304065           ATA              N      0.0       Up             0
1    379490           NAP              N      1.0     Flat             1
2    872600           ATA              N      0.0       Up             0
3    622237           ASY              Y      1.5     Flat             1
4    574906           NAP              N      0.0       Up             0
..      ...           ...            ...      ...      ...           ...
913  922654            TA              N      1.2     Flat             1
914  598506           ASY              N      3.4     Flat             1
915  199043           ASY              Y      1.2     Flat             1
916  253488           ATA              N      0.0     Flat             1
917  825419           NAP              N      0.0       Up             0

[918 rows x 6 columns]

In [47]:
final_df = pd.merge(clean_df, new_df, on='id')
final_df.drop(['_id'], axis=1)

,id,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ChestPainType,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,304065,40,M,140,289,0,Normal,172,ATA,N,0.0,Up,0
1,379490,49,F,160,180,0,Normal,156,NAP,N,1.0,Flat,1
2,872600,37,M,130,283,0,ST,98,ATA,N,0.0,Up,0
3,622237,48,F,138,214,0,Normal,108,ASY,Y,1.5,Flat,1
4,574906,54,M,150,195,0,Normal,122,NAP,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,922654,45,M,110,264,0,Normal,132,TA,N,1.2,Flat,1
914,598506,68,M,144,193,1,Normal,141,ASY,N,3.4,Flat,1
915,199043,57,M,130,131,0,Normal,115,ASY,Y,1.2,Flat,1
916,253488,57,F,130,236,0,LVH,174,ATA,N,0.0,Flat,1
917,825419,38,M,138,175,0,Normal,173,NAP,N,0.0,Up,0

## Export df for machine learning use

In [48]:
final_df.to_csv('final_df', index=False)

In [ ]:
import pandas.io.sql as sqlio
import matplotlib.pyplot as plt

In [ ]:
# Find if there are any null values
for column in final_df.columns:
    print(f"Column {column} has {heart_df[column].isnull().sum()} null values")

In [ ]:
# Generate our categorical variable list
heart_cat = final_df.dtypes[final_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
final_df[heart_cat].nunique()

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(final_df[heart_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(heart_cat)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
final_df = final_df.merge(encode_df,left_index=True, right_index=True)
final_df = final_df.drop(heart_cat,1)
final_df.head()

In [ ]:
# Remove loan status target from features data
y = final_df.heartdisease.values
X = final_df.copy()
X = X.drop("heartdisease", axis=1)

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.6, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Trying Logistic regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [ ]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

In [ ]:
importances = pd.DataFrame(data={
    'Attribute': X_train.columns,
    'Importance': classifier.coef_[0]
})
importances = importances.sort_values(by='Importance', ascending=False)

In [ ]:
plt.bar(x=importances['Attribute'], height=importances['Importance'], color='#087E8B')
plt.title('Feature importances obtained from coefficients', size=20)
plt.xticks(rotation='vertical')
plt.show()