In [5]:
# Load in the dataset and display first five rows
import pandas as pd
heart_df = pd.read_csv("Resources/heart.csv")
heart_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
# Find if there are any null values
for column in heart_df.columns:
    print(f"Column {column} has {heart_df[column].isnull().sum()} null values")

Column Age has 0 null values
Column Sex has 0 null values
Column ChestPainType has 0 null values
Column RestingBP has 0 null values
Column Cholesterol has 0 null values
Column FastingBS has 0 null values
Column RestingECG has 0 null values
Column MaxHR has 0 null values
Column ExerciseAngina has 0 null values
Column Oldpeak has 0 null values
Column ST_Slope has 0 null values
Column HeartDisease has 0 null values

In [7]:
# We will not be removing duplicate rows since the data is recording individual patients